.container {
  width: 800px;
  height: 500px;
  margin: 10px auto;
  border: solid 1px #cdcdcd;
}

.title {
  text-align: center;
  padding: 10px 20px;
  color: #555000;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.3);
}

.dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 400px;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 1px #efefef solid;
  border-radius: 25px;
}

.dialog .title {
  padding: 20px 0;
}
